{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/purchase.css') }}">
{% endblock %}

{% block content %}

<!-- HEADER -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h4>📦 Nhập hàng</h4>

    <a href="{{ url_for('purchase.purchase_history') }}" class="btn btn-outline-primary btn-sm">
        📜 Lịch sử
    </a>
</div>

<div class="card p-3 shadow-sm">

<form id="purchaseForm">

<!-- NCC -->
<select name="supplier_id" class="form-control mb-2" required>
<option value="">-- Chọn Nhà Cung Cấp --</option>
{% for s in suppliers %}
<option value="{{ s.id }}">{{ s.name }}</option>
{% endfor %}
</select>

<!-- PRODUCT -->
<input name="product_name" class="form-control mb-2"
placeholder="Tên sản phẩm" required>

<!-- PRICE -->
<input id="price" class="form-control mb-2"
placeholder="Giá (VNĐ)" required>

<!-- IMEI -->
<textarea id="imeis" class="form-control mb-2"
rows="5"
placeholder="Nhập IMEI, Ấn Enter để xuống dòng"></textarea>

<!-- WARNING -->
<div id="imeiWarning" class="text-danger small mb-2"></div>

<!-- INFO -->
<div class="mb-2">
<b>Số lượng :</b> <span id="qty">0</span>
</div>

<div class="mb-2">
<b>Tổng tiền :</b>
<span id="total">0</span> đ
</div>

<!-- BUTTON -->
<button class="btn btn-primary w-100 mt-2">
    Nhập kho
</button>

</form>

</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pages/purchase.js') }}"></script>
{% endblock %}