{% extends "base.html" %}

{% block content %}

<h4 class="mb-3">🧾 Đơn hàng #{{ sale.id }}</h4>

<table class="table align-middle">

<thead>
<tr>
    <th>IMEI</th>
    <th>Sản phẩm</th>
    <th>Giá</th>
    <th style="width:90px"></th>
</tr>
</thead>

<tbody id="table">

{% for item, imei in items %}
<tr data-id="{{ item.id }}">

    <td>{{ imei.imei_code }}</td>

    <td>{{ imei.product.name }}</td>

    <td>
        <input class="form-control price-input text-end"
               value="{{ item.price }}"
               data-id="{{ item.id }}">
    </td>

    <td class="text-end">

        <button class="btn btn-danger btn-sm"
                onclick="removeItem({{ item.id }})">
            Xoá
        </button>

    </td>

</tr>
{% endfor %}

</tbody>

</table>

<h5 class="mt-3">
    Tổng tiền:
    <span id="total">{{ sale.total_amount }}</span> đ
</h5>

{% endblock %}


{% block scripts %}

<script>
const saleId = {{ sale.id }};
</script>

<script src="{{ url_for('static', filename='js/pages/sale_detail.js') }}"></script>

{% endblock %}